## Spain Population by region and year

Information coming from INE (https://www.ine.es/jaxiT3/Datos.htm?t=2915)

In [23]:
#Imports
import pandas as pd
import requests 
import bs4   # !pip install beautifulsoup4
import re

In [24]:
df_population=pd.read_csv('../../Data/SOTs/Population/Population.csv',sep=';' , encoding='latin-1')
df_population.head()

,Comunidades y Ciudades Autónomas,Tamaño de los municipios,Periodo,Total
0,Total,Total,2021,47.385.107
1,Total,Total,2020,47.450.795
2,Total,Total,2019,47.026.208
3,Total,Total,2018,46.722.980
4,Total,Total,2017,46.572.132

In [25]:
#Filtering data from 2015
df_population=df_population[df_population['Periodo']>=2015]

In [26]:
df_population['Comunidades y Ciudades Autónomas']=df_population['Comunidades y Ciudades Autónomas'].str[3:]

In [27]:
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['al'],'Total')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Asturias, Principado de'],'Asturias')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Castilla - La Mancha'],'Castilla-La Mancha')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Comunitat Valenciana'],'Comunidad Valenciana')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Comunitat Valenciana'],'Comunidad Valenciana')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Madrid, Comunidad de'],'Madrid')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Murcia, Región de'],'Murcia')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Navarra, Comunidad Foral de'],'Navarra')
df_population['Comunidades y Ciudades Autónomas'] = \
df_population['Comunidades y Ciudades Autónomas'].replace(['Rioja, La'],'La Rioja')

In [28]:
df_population['Comunidades y Ciudades Autónomas'].unique()

array(['Total', 'Andalucía', 'Aragón', 'Asturias', 'Balears, Illes',
       'Canarias', 'Cantabria', 'Castilla y León', 'Castilla-La Mancha',
       'Cataluña', 'Comunidad Valenciana', 'Extremadura', 'Galicia',
       'Madrid', 'Murcia', 'Navarra', 'País Vasco', 'La Rioja', 'Ceuta',
       'Melilla'], dtype=object)

In [29]:
to_exclude = ['Total','Balears, Illes','Canarias','Ceuta','Melilla']

In [30]:
df_population=df_population[~df_population['Comunidades y Ciudades Autónomas'].isin(to_exclude)]

In [31]:
df_population.rename(columns={'Comunidades y Ciudades Autónomas': 'Region', 
                               'Periodo': 'Year', 'Total': 'Population'}, inplace=True)

In [32]:
df_population = df_population.drop('Tamaño de los municipios', 1)

/Users/malva/miniconda3/envs/final_project/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [33]:
#Changing data types
df_population.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 26 to 448
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Region      105 non-null    object
 1   Year        105 non-null    int64
 2   Population  105 non-null    object
dtypes: int64(1), object(2)
memory usage: 3.3+ KB

In [34]:
df_population['Population']=df_population['Population'].str.replace('.', '').astype(float)

/Users/malva/miniconda3/envs/final_project/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [35]:
#sending data to csv
df_population.to_csv("../../Data/Raw_Data/population.csv")