# Bank holidays by region and year

Information coming from public source: 

https://administracion.gob.es/pag_Home/atencionCiudadana/calendarios/diasInhabiles.html#-b95725c1af8d

## Libraries import

In [25]:
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Imports
import pandas as pd

## Functions definition

In [26]:
# Read csv
def read_csv(path,sep_value,encoding_value):
    return pd.read_csv(path,sep=sep_value,encoding=encoding_value)

In [27]:
# Row filter
def row_filter_limits(df, column,low_limit,high_limit):
    return df[(df[column]>=low_limit)&(df[column]<=high_limit)]

In [28]:
# Send data to csv
def send_to_csv(df,path):
    return df.to_csv(path)

## Data import

In [29]:
# Import dataframe
df_bank_holidays=read_csv('../../Data/SOTs/Bank_Holidays/Bank_holidays.csv',',','utf-8')

# Split time
df_bank_holidays['Date']=pd.to_datetime(df_bank_holidays['Day'], format="%d/%m/%Y")
df_bank_holidays['Month']=df_bank_holidays['Date'].dt.month
df_bank_holidays['Day']=df_bank_holidays['Date'].dt.day

# Sort columns
df_bank_holidays = df_bank_holidays[['Date', 'Year','Month', 'Day', 'Region']]

# Time filter
df_bank_holidays=row_filter_limits(df_bank_holidays, 'Year',2015,2021)

# Remove not needed regions
df_bank_holidays=df_bank_holidays[df_bank_holidays['Region']!='Baleares']

# Send data to csv
send_to_csv(df_bank_holidays,"../../Data/Raw_Data/bank_holidays.csv")

# Print info
df_bank_holidays

          Date  Year  Month  Day                Region
0   2015-01-01  2015      1    1              Nacional
1   2015-01-06  2015      1    6              Nacional
2   2015-02-28  2015      2   28             Andalucía
3   2015-03-19  2015      3   19  Comunidad Valenciana
4   2015-03-19  2015      3   19                Madrid
..         ...   ...    ...  ...                   ...
399 2021-10-09  2021     10    9  Comunidad Valenciana
400 2021-10-12  2021     10   12              Nacional
401 2021-11-01  2021     11    1              Nacional
402 2021-12-06  2021     12    6              Nacional
403 2021-12-08  2021     12    8              Nacional

[403 rows x 5 columns]