## Bank holidays by region and year

Information coming from public source: 

https://administracion.gob.es/pag_Home/atencionCiudadana/calendarios/diasInhabiles.html#-b95725c1af8d

In [31]:
#Imports
import pandas as pd
import requests 
import re

In [32]:
df_bank_holidays=pd.read_csv('../../Data/SOTs/Bank_Holidays/Bank_holidays.csv', sep=',' , encoding='utf-8')
df_bank_holidays

     Year         Day                Region
0    2015   1/01/2015              Nacional
1    2015   6/01/2015              Nacional
2    2015  28/02/2015             Andalucía
3    2015  19/03/2015  Comunidad Valenciana
4    2015  19/03/2015                Madrid
..    ...         ...                   ...
463  2022  26/12/2022              La Rioja
464  2022  26/12/2022              Cataluña
465  2022  26/12/2022       Castilla y León
466  2022  26/12/2022                Madrid
467  2022  26/12/2022               Navarra

[468 rows x 3 columns]

In [33]:
# Splitting time
df_bank_holidays['Date']=pd.to_datetime(df_bank_holidays['Day'], format="%d/%m/%Y")
df_bank_holidays['Month']=df_bank_holidays['Date'].dt.month
df_bank_holidays['Day']=df_bank_holidays['Date'].dt.day

In [34]:
df_bank_holidays = df_bank_holidays[['Date', 'Year','Month', 'Day', 'Region']]
df_bank_holidays

          Date  Year  Month  Day                Region
0   2015-01-01  2015      1    1              Nacional
1   2015-01-06  2015      1    6              Nacional
2   2015-02-28  2015      2   28             Andalucía
3   2015-03-19  2015      3   19  Comunidad Valenciana
4   2015-03-19  2015      3   19                Madrid
..         ...   ...    ...  ...                   ...
463 2022-12-26  2022     12   26              La Rioja
464 2022-12-26  2022     12   26              Cataluña
465 2022-12-26  2022     12   26       Castilla y León
466 2022-12-26  2022     12   26                Madrid
467 2022-12-26  2022     12   26               Navarra

[468 rows x 5 columns]

In [35]:
#date time is from 2015 to 2021
df_bank_holidays=df_bank_holidays[(df_bank_holidays['Year']>2014) & (df_bank_holidays['Year']<2022)]
df_bank_holidays

          Date  Year  Month  Day                Region
0   2015-01-01  2015      1    1              Nacional
1   2015-01-06  2015      1    6              Nacional
2   2015-02-28  2015      2   28             Andalucía
3   2015-03-19  2015      3   19  Comunidad Valenciana
4   2015-03-19  2015      3   19                Madrid
..         ...   ...    ...  ...                   ...
399 2021-10-09  2021     10    9  Comunidad Valenciana
400 2021-10-12  2021     10   12              Nacional
401 2021-11-01  2021     11    1              Nacional
402 2021-12-06  2021     12    6              Nacional
403 2021-12-08  2021     12    8              Nacional

[404 rows x 5 columns]

In [36]:
df_bank_holidays['Region'].unique()

array(['Nacional', 'Andalucía', 'Comunidad Valenciana', 'Madrid',
       'Murcia', 'Navarra', 'País Vasco', 'Galicia', 'Aragón', 'Asturias',
       'Cantabria', 'Castilla y León', 'Castilla-La Mancha',
       'Extremadura', 'La Rioja', 'Cataluña', 'Baleares'], dtype=object)

In [37]:
df_bank_holidays=df_bank_holidays[df_bank_holidays['Region']!='Baleares']

In [38]:
#sending data to csv
df_bank_holidays.to_csv("../../Data/Raw_Data/bank_holidays.csv")